/* line 4, ../../../app/stylesheets/application.sass */
#patients_list {
  width: 40.0px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  background-color: #cccccc;
}
/* line 8, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
#patients_list {
  display: block;
}
