/* line 3, ../../../app/stylesheets/print.sass */
body {
  background-image: url('/images/body_bg.jpg?1294443723');
  background-repeat: repeat-x;
  background-position: top left;
  float: none;
}

/* line 9, ../../../app/stylesheets/print.sass */
.principal {
  width: 890px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  background-color: white;
  border: solid;
  overflow: visible;
}
/* line 8, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
.principal {
  display: block;
}
/* line 14, ../../../app/stylesheets/print.sass */
.principal #header {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 890px;
  background: #c3d9ff;
  background-image: url('/images/header.png?1294443723');
  background-repeat: no-repeat;
  background-position: top left;
  height: 136px;
  visibility: none;
}
/* line 138, ../../../vendor/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .principal #header {
  overflow-x: hidden;
}
/* line 23, ../../../app/stylesheets/print.sass */
.principal #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 890px;
}
/* line 138, ../../../vendor/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .principal #content {
  overflow-x: hidden;
}
/* line 25, ../../../app/stylesheets/print.sass */
.principal #content .indicator {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  color: white;
  text-align: center;
  background-color: red;
  position: relative;
  border: solid;
  border-color: red;
  left: 775px;
  width: 110px;
  height: 16px;
  font-size: 12px;
}
/* line 37, ../../../app/stylesheets/print.sass */
.principal #footer {
  display: inline;
  float: left;
  margin-right: 0px;
  width: 890px;
  background-image: url('/images/footer.png?1294443723');
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 80px;
}
/* line 138, ../../../vendor/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .principal #footer {
  overflow-x: hidden;
}

/* line 44, ../../../app/stylesheets/print.sass */
.menu {
  visibility: hidden;
}

/* line 46, ../../../app/stylesheets/print.sass */
#content #workspace {
  margin: 10px 10px 10px 10px;
  padding-bottom: 25px;
}
/* line 49, ../../../app/stylesheets/print.sass */
#content #workspace #clean {
  padding-bottom: 250px;
}

/* line 51, ../../../app/stylesheets/print.sass */
#content #workspace {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
/* line 57, ../../../vendor/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content #workspace fieldset {
  border: 1px solid #35567b;
}
/* line 60, ../../../vendor/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content #workspace input.text, #content #workspace input.title, #content #workspace input[type=text], #content #workspace input[type=password],
#content #workspace textarea, #content #workspace select {
  border: 1px solid #207dd4;
}
/* line 62, ../../../vendor/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content #workspace input.text:focus, #content #workspace input.title:focus, #content #workspace input[type=text]:focus, #content #workspace input[type=password]:focus,
#content #workspace textarea:focus, #content #workspace select:focus {
  border: 1px solid #da9a22;
}
/* line 46, ../../../vendor/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content #workspace input.text, #content #workspace input.title, #content #workspace input[type=text], #content #workspace input[type=password] {
  width: 300px;
}
/* line 48, ../../../vendor/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content #workspace textarea {
  width: 390px;
  height: 250px;
}

/* line 56, ../../../app/stylesheets/print.sass */
#patient_show {
  visibility: visible;
  display: block;
  position: top center;
}
/* line 60, ../../../app/stylesheets/print.sass */
#patient_show table {
  border: 2px solid black;
  width: 100%;
}
/* line 2, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
#patient_show table th {
  text-align: center;
  font-weight: bold;
}
/* line 6, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
#patient_show table td,
#patient_show table th {
  padding: 2px;
}
/* line 8, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
#patient_show table td.numeric,
#patient_show table th.numeric {
  text-align: right;
}
/* line 14, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
#patient_show table th, #patient_show table td {
  border-right: 1px solid #233551;
  border-bottom: 1px solid #233551;
  border-left-width: 0px;
  border-top-width: 0px;
}
/* line 21, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
#patient_show table th:last-child, #patient_show table th.last, #patient_show table td:last-child, #patient_show table td.last {
  border-right-width: 0px;
}
/* line 26, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
#patient_show table tbody tr:last-child th, #patient_show table tbody tr:last-child td,
#patient_show table tbody tr.last th,
#patient_show table tbody tr.last td, #patient_show table tfoot tr:last-child th, #patient_show table tfoot tr:last-child td, #patient_show table tfoot tr.last th, #patient_show table tfoot tr.last td {
  border-bottom-width: 0px;
}
/* line 4, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
#patient_show table thead th {
  border-bottom: 2px solid black;
}
/* line 7, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
#patient_show table tfoot th, #patient_show table tfoot td {
  border-top: 2px solid black;
}
/* line 10, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
#patient_show table th:first-child {
  border-right: 2px solid black;
}
/* line 2, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
#patient_show table th {
  background-color: white;
}
/* line 4, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
#patient_show table th.even, #patient_show table th:nth-child(2n) {
  background-color: #dddddd;
}
/* line 7, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
#patient_show table tr.odd td {
  background-color: #98c67a;
}
/* line 9, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
#patient_show table tr.odd td.even, #patient_show table tr.odd td:nth-child(2n) {
  background-color: #76a458;
}
/* line 12, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
#patient_show table tr.even td {
  background-color: #7a98c6;
}
/* line 14, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
#patient_show table tr.even td.even, #patient_show table tr.even td:nth-child(2n) {
  background-color: #5876a4;
}
/* line 17, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
#patient_show table tfoot th, #patient_show table tfoot td {
  background-color: white;
}
/* line 19, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
#patient_show table tfoot th.even, #patient_show table tfoot th:nth-child(2n), #patient_show table tfoot td.even, #patient_show table tfoot td:nth-child(2n) {
  background-color: #dddddd;
}

/* line 68, ../../../app/stylesheets/print.sass */
.table_header table, .table_result table {
  border: 1px solid #0080ff;
}
/* line 4, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.table_header table thead th, .table_result table thead th {
  border-bottom: 1px solid #0080ff;
}
/* line 7, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.table_header table tfoot th, .table_header table tfoot td, .table_result table tfoot th, .table_result table tfoot td {
  border-top: 1px solid #0080ff;
}
/* line 10, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.table_header table th:first-child, .table_result table th:first-child {
  border-right: 1px solid #0080ff;
}
/* line 14, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.table_header table th, .table_header table td, .table_result table th, .table_result table td {
  border-right: ipx solid #0080ff;
  border-bottom: ipx solid #0080ff;
  border-left-width: 0px;
  border-top-width: 0px;
}
/* line 21, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.table_header table th:last-child, .table_header table th.last, .table_header table td:last-child, .table_header table td.last, .table_result table th:last-child, .table_result table th.last, .table_result table td:last-child, .table_result table td.last {
  border-right-width: 0px;
}
/* line 26, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.table_header table tbody tr:last-child th, .table_header table tbody tr:last-child td,
.table_header table tbody tr.last th,
.table_header table tbody tr.last td, .table_header table tfoot tr:last-child th, .table_header table tfoot tr:last-child td, .table_header table tfoot tr.last th, .table_header table tfoot tr.last td, .table_result table tbody tr:last-child th, .table_result table tbody tr:last-child td, .table_result table tbody tr.last th, .table_result table tbody tr.last td, .table_result table tfoot tr:last-child th, .table_result table tfoot tr:last-child td, .table_result table tfoot tr.last th, .table_result table tfoot tr.last td {
  border-bottom-width: 0px;
}
/* line 2, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table_header table th, .table_result table th {
  background-color: white;
}
/* line 4, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table_header table th.even, .table_header table th:nth-child(2n), .table_result table th.even, .table_result table th:nth-child(2n) {
  background-color: #eeeeee;
}
/* line 7, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table_header table tr.odd td, .table_result table tr.odd td {
  background-color: #f2f2f2;
}
/* line 9, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table_header table tr.odd td.even, .table_header table tr.odd td:nth-child(2n), .table_result table tr.odd td.even, .table_result table tr.odd td:nth-child(2n) {
  background-color: #e1e1e1;
}
/* line 12, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table_header table tr.even td, .table_result table tr.even td {
  background-color: #e0ecf8;
}
/* line 14, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table_header table tr.even td.even, .table_header table tr.even td:nth-child(2n), .table_result table tr.even td.even, .table_result table tr.even td:nth-child(2n) {
  background-color: #cfdbe7;
}
/* line 17, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table_header table tfoot th, .table_header table tfoot td, .table_result table tfoot th, .table_result table tfoot td {
  background-color: white;
}
/* line 19, ../../../vendor/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
.table_header table tfoot th.even, .table_header table tfoot th:nth-child(2n), .table_header table tfoot td.even, .table_header table tfoot td:nth-child(2n), .table_result table tfoot th.even, .table_result table tfoot th:nth-child(2n), .table_result table tfoot td.even, .table_result table tfoot td:nth-child(2n) {
  background-color: #eeeeee;
}
/* line 73, ../../../app/stylesheets/print.sass */
.table_header table .name, .table_result table .name {
  width: 200px;
}
/* line 75, ../../../app/stylesheets/print.sass */
.table_header table .lastname, .table_result table .lastname {
  width: 150px;
}
/* line 77, ../../../app/stylesheets/print.sass */
.table_header table .date_next_consult, .table_result table .date_next_consult {
  width: 100px;
}
/* line 79, ../../../app/stylesheets/print.sass */
.table_header table .presumptive_diagnosis, .table_result table .presumptive_diagnosis {
  width: 150px;
}
/* line 81, ../../../app/stylesheets/print.sass */
.table_header table .applicant_doctor, .table_result table .applicant_doctor {
  width: 150px;
}
/* line 83, ../../../app/stylesheets/print.sass */
.table_header table .age, .table_result table .age {
  width: 60px;
}
/* line 85, ../../../app/stylesheets/print.sass */
.table_header table .address, .table_result table .address {
  width: 300px;
}
/* line 87, ../../../app/stylesheets/print.sass */
.table_header table .actions, .table_result table .actions {
  width: 100px;
}
