%h1 Búsqueda de pacientes.
%p
 - remote_form_for @patient, :url => {:action => :get_patient}, :loading => "$('loading_bar').show(); $('patient_container').empty()", :complete => "$('loading_bar').hide();"  do |patient|
  = text_field_tag 'patient[search]', nil
  = submit_to_remote('submit_get_patient', 'Buscar', :url => { :controller => 'patients', :action => 'get_patient'})
%p
 %br
  .patient_header
   %table
    %tr
     %th.name
      %h1 Nombre
     %th.age
      %h1 Edad
     %th.address
      %h1 Domicilio
     %th.actions
      %h1 Acciones
  #patient_container
