.patient_header
 .generic_cell{style="width: 220px; font-weight: bold;"}
  Nombre
 .generic_cell{style="width: 100px; font-weight: bold;"}
  Edad
 .generic_cell{style="width: 300px; font-weight: bold;"}
  Domicilio
 .generic_cell{style="width: 200px; font-weight: bold;"}
  Acciones
= @patients.size
