.patients_list
  #header_patient
    %h1 Pacientes en el sistema
  #sidebar_patient
    Menu en sidebar
  #content_patient
    -#@patients.each do |patient|
    Alex ALEX alex alex alex alex alex alex alez     Alex ALEX alex alex alex alex alex alex alez    Alex ALEX alex alex alex alex alex alex alez    Alex ALEX alex alex alex alex alex alex alez    Alex ALEX alex alex alex alex alex alex alez
    alez alex
  #footer_patient
    Servicios de Salud Pública
